<!DOCTYPE html>
<htmL>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEXT</title>
    <link rel="icon" href="favicon.png" type="image/png">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <style></style>
  </head>

  <body>
    <div id="app">
      <p>{{ fullname }}</p>
      <p v-html="rawHtml"></p>
      <input type="text" :value="content" @input="content = $event.target.value">
      <input type="text" v-model="content">

      <textarea v-model="content"></textarea>

      <input type="radio" value="one" v-model="radio">
      <input type="radio" value="two" v-model="radio">
      
      <input type="checkbox" value="one" v-model="check">
      <input type="checkbox" value="two" v-model="check">
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          rawHtml: "<strong>FUCK</strong>",
          content: "FUCK",
          radio: "one",
          check: ["one", "two"],
          fn: "Allen",
          ln: "Ng"
        },
        methods: {
          
        },
        computed: {
          // fullname() {
          //   return this.fn + " " + this.ln;
          // }
          fullname: {
            set(val) {
              [this.fn, this.ln] = val.split(" ");
            },
            get() {
              return this.fn + " " + this.ln;
            }
          }
        }
      });
    </script>
  </body>
</htmL>